<div class="modal-header">
    <h3>Edit [[item.type]] <span class="name">[[item.name]]</span></h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="EditName">Edit Name</label>
        <input type="email" class="form-control" id="EditName" placeholder="Item name" value="[[item.name]]">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>