<div class="modal-header">
    <h3>Move [[item.type]] <span class="name">[[item.name]]</span></h3>
</div>
<form>
    <div class="modal-body">
        <p class="lead">Current folder : <strong>[[ currentFolder.name ]]</strong></p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th colspan="2">Name

                </th>
                <th>Modified

                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-folder-row" ng-show="hasParent()" ng-click="handleFolderClick(parentFolder())">
                <td class="parent-folder"></td>
                <td>Parent Folder</td>
                <td>[[parentFolder().date | date:"medium"]]</td>
            </tr>
            <tr ng-repeat="folder in folders | orderBy:orderProp:orderDirection" ng-click="handleFolderClick(folder)">
                <td class="folder"></td>
                <td>
                    [[folder.name]]
                </td>
                <td>[[folder.updateDate | date:"short"]]</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok(folder)">Move to this folder</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>