<script type="text/ng-template" id="userTemplate.html" xmlns="http://www.w3.org/1999/html">
    <a tabindex="-1">
        <!--<span ng-bind="match.model['name'] | typeaheadHighlight:query"></span>-->
        <span ng-bind="match.model['name']"></span> - <span ng-bind="match.model['email']"></span>

    </a>
</script>



<div class="modal-header">
    <h3>[['SHARE_OPTIONS_FOR' | translate]] [[item.type | uppercase | translate]] <span class="name">[[item.name]]</span></h3>
</div>
<div class="modal-body">
    <div ng-if="item.type =='folder'" class="alert alert-warning">[['IMPORTANT_NOTICE_FOLDER' | translate]]</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">[['ADD_A_SHARE' | translate]]</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="shareWithName">[['FIND_AN_USER' | translate]] <i ng-show="loadingNames" class="glyphicon glyphicon-refresh"></i></label>
                <input type="text" class="form-control" id="shareWithName" placeholder="[['SEARCH_WITH_NAME_OR_MAIL' | translate]]"
                       ng-model="$parent.userToShareWithSelected" typeahead="user as user.name for user in getNames($viewValue) | filter:$viewValue"
                       typeahead-loading="loadingNames" typeahead-min-length="2" typeahead-editable="false" typeahead-wait-ms="200" typeahead-template-url="userTemplate.html">
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" checked="checked" disabled> [['ALLOW_READ_ACCESS' | translate]]
                </label>
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" ng-model="$parent.allowWriteAccess"> [['ALLOW_WRITE_ACCESS' | translate]]
                </label>
            </div>
            <button ng-show="userToShareWithSelected" ng-click="addShare()" type="submit" class="btn btn-primary btn-block">[['ADD' | translate]]</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">[['ACTIVE_SHARES' | translate]]</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>[['USER' | translate]]</th>
                    <th>[['READ' | translate]]</th>
                    <th>[['WRITE' | translate]]</th>
                    <th>[['OPTIONS' | translate]]</th>
                </tr>
                <tr ng-repeat="share in item.shares">
                    <td>[[share.userName]]</td>
                    <td><input type="checkbox" ng-model="share.read"></td>
                    <td><input type="checkbox" ng-model="share.write"></td>
                    <td>
                        <button ng-click="updateShare(share)" type="submit" class="btn btn-primary" tooltip-placement="left" tooltip="[['UPDATE' | translate]]"><span class="glyphicon glyphicon-ok"></span></button>
                        <button ng-click="deleteShare(share)" type="submit" class="btn btn-danger" tooltip-placement="right" tooltip="[['DELETE' | translate]]"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">[['PUBLIC_SHARE' | translate]]</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-change="handlePublicShareChange(item.publicShareEnabled)" ng-model="item.publicShareEnabled"> [['ENABLED' | translate]]
                </label>
            </div>
            <div ng-if="item.publicShareEnabled" class="form-group">
                <label for="publiShareUri">[['PUBLIC_SHARE_URL' | translate]]</label>
                <input type="url" class="form-control" id="publiShareUri" value="[[baseUrl]]shares/[[item.type]]/[[item._id]]"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">[['OK' | translate]]</button>
    <button class="btn btn-warning" ng-click="cancel()">[['CANCEL' | translate]]</button>
</div>