<script type="text/ng-template" id="userTemplate.html" xmlns="http://www.w3.org/1999/html">
    <a tabindex="-1">
        <!--<span ng-bind="match.model['name'] | typeaheadHighlight:query"></span>-->
        <span ng-bind="match.model['name']"></span> - <span ng-bind="match.model['email']"></span>

    </a>
</script>



<div class="modal-header">
    <h3>Share options for [[item.type]] <span class="name">[[item.name]]</span></h3>
</div>
<div class="modal-body">
    <div ng-if="item.type =='folder'" class="alert alert-warning">Important : Sharing a folder also shares all its sub-folders and sub-files !</div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add a Share</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="shareWithName">Find an user <i ng-show="loadingNames" class="glyphicon glyphicon-refresh"></i></label>
                <input type="text" class="form-control" id="shareWithName" placeholder="Search with name or mail..."
                       ng-model="$parent.userToShareWithSelected" typeahead="user as user.name for user in getNames($viewValue) | filter:$viewValue"
                       typeahead-loading="loadingNames" typeahead-min-length="2" typeahead-editable="false" typeahead-wait-ms="200" typeahead-template-url="userTemplate.html">
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" checked="checked" disabled> Allow Read Access
                </label>
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" ng-model="$parent.allowWriteAccess"> Allow Write Access
                </label>
            </div>
            <button ng-show="userToShareWithSelected" ng-click="addShare()" type="submit" class="btn btn-primary btn-block">Add</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active Shares</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>User</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="share in item.shares">
                    <td>[[share.userName]]</td>
                    <td><input type="checkbox" ng-model="share.read"></td>
                    <td><input type="checkbox" ng-model="share.write"></td>
                    <td>
                        <button ng-click="updateShare(share)" type="submit" class="btn btn-primary" tooltip-placement="left" tooltip="Update"><span class="glyphicon glyphicon-ok"></span></button>
                        <button ng-click="deleteShare(share)" type="submit" class="btn btn-danger" tooltip-placement="right" tooltip="Delete"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Public Share</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-change="handlePublicShareChange(item.publicShareEnabled)" ng-model="item.publicShareEnabled"> Enabled
                </label>
            </div>
            <div ng-if="item.publicShareEnabled" class="form-group">
                <label for="publiShareUri">Public share URL</label>
                <input type="url" class="form-control" id="publiShareUri" value="[[baseUrl]]shares/[[item.type]]/[[item._id]]"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>