<script type="text/ng-template" id="userTemplate.html">
    <a tabindex="-1">
        <!--<span ng-bind="match.model['name'] | typeaheadHighlight:query"></span>-->
        <span ng-bind="match.model['name']"></span> - <span ng-bind="match.model['email']"></span>

    </a>
</script>



<div class="modal-header">
    <h3>Share [[item.type]] <span class="name">[[item.name]]</span></h3>
</div>
<div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add a Share</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="shareWithName">Find an user <i ng-show="loadingNames" class="glyphicon glyphicon-refresh"></i></label>
                <input type="text" class="form-control" id="shareWithName" placeholder="Search with name or mail..."
                       ng-model="$parent.userToShareWithSelected" typeahead="user as user.name for user in getNames($viewValue) | filter:$viewValue"
                       typeahead-loading="loadingNames" typeahead-min-length="2" typeahead-editable="false" typeahead-wait-ms="200" typeahead-template-url="userTemplate.html">
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" ng-model="$parent.allowReadAccess"> Allow Read Access
                </label>
            </div>
            <div class="checkbox" ng-show="userToShareWithSelected">
                <label>
                    <input type="checkbox" ng-model="$parent.allowWriteAccess"> Allow Write Access
                </label>
            </div>
            <button ng-show="userToShareWithSelected" ng-click="addShare()" type="submit" class="btn btn-default">Add</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Active Shares</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <tr>
                    <th>User</th>
                    <th>Read Access</th>
                    <th>Write Access</th>
                    <th>Remove</th>
                </tr>
                <tr ng-repeat="share in item.shares">
                    <td>[[share.userName]]</td>
                    <td><input type="checkbox" ng-model="share.read"></td>
                    <td><input type="checkbox" ng-model="share.write"></td>
                    <td><button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Public Share</h3>
        </div>
        <div class="panel-body">
            <div class="checkbox">
                <label>
                    <input type="checkbox" checked="checked"> Enabled
                </label>
            </div>
            <div class="well well-sm">https://localhost:8443/shares/s56fsd54g645sg</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>