{% extends '../layouts/devLayout.html' %}
{% block body %}

<div class="page-header">
    <h1>CubbyHole API Documentation</h1>
</div>
<blockquote>
    <p>{{__('API Documentation is only available in english at the moment !')}}</p>
</blockquote>
<div class="col-md-2" role="navigation">
    <div class="list-group">
        <a href="#auth" class="list-group-item">Authentication</a>
        <a href="#account" class="list-group-item">Account</a>
    </div>
</div><!--/span-->
<div class="col-md-10">
    <div class="doc-group">
        <h1 id="auth">I - Authentication</h1>
        <div class="doc-group-item">
            <blockquote>
                <p>Go <a href="/addApp">there</a> if you want to register your new application !</p>
            </blockquote>
            <p>
                We use oAuth2 as authentication system for our API, here's a few steps to learn using it in a few steps
            </p>
            <h3>1 - Creating redirection URL and redirect the user</h3>
            <p>The following URL must me customized with your redirection URI (on your application) and your client id.</p>
            <pre>https://localhost:8444/auth/dialog/authorize?redirect_uri={REDIRECT_URI}&response_type=code&client_id={CLIENT_ID}</pre>
            <p>You have to redirect the user to this url where he will have to log on our application and authorize your application, he will be redirected to your redirection URI then with a code :</p>
            <pre>http://your-redirect.uri/?code=0aPqiS649G9TcEaJ</pre>
            <p>Keep this code, you will need it in the next step !</p>

            <h3>2 - Getting Access Token</h3>
            <p>Well, now you get an Authorization Code (valid for 5 minutes) you must get the access token to communicate with the API. To achieve this, just send a post request to :</p>
            <pre>https://localhost:8444/auth/oauth/token</pre>
            <p>You need to precise the Content-Type as application/x-www-form-urlencoded with a HTTP header</p>
            <p>Finally, you just have to add this as a request body, replace the Authorization Code with the one you got before, and the Client Secret with the one which was given to you when you registered the application.</p>
            <pre>code={AUTHORIZATION_CODE}&redirect_uri={REDIRECT_URI}&client_id={CLIENT_ID}&client_secret={CLIENT_SECRET}&grant_type=authorization_code</pre>
            <p>If all your informations are right, you will get an access token in the body of the response :</p>
            <pre>{
    "access_token": "8LFxvvqtPslmxcSDSrEYM6dSbRSCzdAMkY0zPAKmJ6xvQJRpHxCBIYCs8EcBuIdRA5KfwMMKpsPlEJINSG1AADuQHcnYTvmVSr6NwP4jttHCu35hwYaIWovMu8H9lvseSKigtJHeMgprekFGov87uvz5t4vqJConWkKP07ToqPrwV7vSE0x3fpthVy4z9qbFxjx7oRWoyp87LDQohRFlClAiE3DlTHTqKK36FbTguLf5z3un7RjACynO3CGLsutj",
    "token_type": "bearer"
}</pre>
            This token is valid as long as your user doesn't remove the authorization for your application on its account, so keep it preciously !
            <h3>3 - Request the API</h3>
            <p>This is the easiest part, you just have to do a GET/POST/PUT/DELETE request on our api with adding the Authorization HTTP Header (Don't forget to add the keyword 'Bearer' followed by the Access Token) : </p>
            <pre>Authorization: Bearer 8LFxvvqtPslmxcSDSrEYM6dSbRSCzdAMkY0zPAKmJ6xvQJRpHxCBIYCs8EcBuIdRA5KfwMMKpsPlEJINSG1AADuQHcnYTvmVSr6NwP4jttHCu35hwYaIWovMu8H9lvseSKigtJHeMgprekFGov87uvz5t4vqJConWkKP07ToqPrwV7vSE0x3fpthVy4z9qbFxjx7oRWoyp87LDQohRFlClAiE3DlTHTqKK36FbTguLf5z3un7RjACynO3CGLsutj</pre>
        </div>
    </div>

    <!-- <br/><br/> -->
    <div class="doc-group">
        <h1 id="account">II - User account</h1>
        <div class="doc-group-item">
            <h3 id="account_get">1 - Get user infos</h3>
            <pre>https://localhost:8444/api/account/details</pre>
            <ul>
                <li>Method : GET</li>
                <li>Authentication : Required</li>
                <li>Additional parameters : No</li>
            </ul>
            <p>Typical response : </p>
            <pre>{
    "id": 1,
    "email": "bob@mail.com",
    "name": "bob",
    "socialAccount": "true",
    "actualPlan": "à compléter"
}</pre>
        </div>
        <div class="doc-group-item">
            <h3 id="account_put">2 - Update user infos</h3>
            <pre>https://localhost:8444/api/account/details</pre>
            <ul>
                <li>Method : PUT</li>
                <li>Authentication : Required</li>
                <li>Required parameters :
                    <ul>
                        <li>id: The id of the user to update</li>
                    </ul>
                </li>
                <li>Optional parameters :
                    <ul>
                        <li>email : The id of the user to update</li>
                        <li>name : The fullname of the user to update</li>
                        <li>password : The password of the user to update</li>
                    </ul>
                </li>
            </ul>
            <p>Typical response : </p>
            <pre>{
    "id": 1,
    "email": "bob@mail.com",
    "name": "bob"
}</pre>
        </div>

        <div class="doc-group-item">
            <h3 id="account_delete">3 - Delete user account</h3>
            <pre>https://localhost:8444/api/account</pre>
            <ul>
                <li>Method : DELETE</li>
                <li>Authentication : Required</li>
                <li>Required parameters :
                    <ul>
                        <li>id : The id of the user to delete</li>
                    </ul>
                </li>
            </ul>
            <p>Typical response : </p>
            <pre></pre>
        </div>

    </div>

    <div class="doc-group">
        <h1 id="users">III - Users</h1>
        <div class="doc-group-item">
            <h3 id="account_delete">1 - Find a user</h3>
            <pre>https://localhost:8444/api/users/find/:terms</pre>
            <ul>
                <li>Method : GET</li>
                <li>Authentication : Required</li>
                <li>Required url parameters :
                    <ul>
                        <li>:terms : a string that will be used to find users</li>
                    </ul>
                </li>
            </ul>
            <p>Examples:</p>
            <pre>https://localhost:8444/api/users/find/bob
or
https://localhost:8444/api/users/find/bob%40mail.com</pre>
            <p>Typical response :</p>
            <pre>{
    "id": 1,
    "email": "bob@mail.com",
    "name": "bob"
}</pre>
        </div>

    </div>

    <div class="doc-group">
        <h1 id="files">IV - Files</h1>
        <div class="doc-group-item">
            <h3 id="files_get">1 - Get the content of a folder</h3>
            <pre>https://localhost:8444/api/files/byFolder/:folderID</pre>
            <ul>
                <li>Method : GET</li>
                <li>Authentication : Required</li>
                <li>Required url parameters :
                    <ul>
                        <li>:folderID : The id of the folder to get the content of.</li>
                    </ul>
                </li>
            </ul>
            <p>Typical response :</p>
            <pre>
{
    "items": [
        {
            "_id": {
                "$oid": "531b978d7b93df8cd20b710d"
            },
            "name": "myfolder",
            "type": "folder",
            "userId": 53,
            "systemPath": "/path/to/myfolder",
            "version": 0,
            "oldVersions": [],
            "date": {
                "$date": 1394314672822
            },
            "items": [
                {
                   "$oid": "531b98a67b93df8cd20b710e"
                }
            ],
            "parents": [
                {
                   "$oid": "531b97497b93df8cd20b7108"
                },
                {
                   "$oid": "531b8db0ab1684b5b167f362"
                }
             ],
            "shareId": null,
            "shared": false,
            "isRoot": false
        },
        {
            "_id": {
                "$oid": "531b98a67b93df8cd20b710e"
            },
            "name": "image.png",
            "type": "file",
            "userId": 53,
            "systemPath": "/path/to/myfolder/image.png",
            "version": 0,
            "oldVersions": [],
            "date": {
                "$date": 1394314672822
            },
            "items": [],
            "parents": [
                {
                   "$oid": "531b978d7b93df8cd20b710d"
                },
                {
                   "$oid": "531b97497b93df8cd20b7108"
                },
                {
                   "$oid": "531b8db0ab1684b5b167f362"
                }
            ],
            "shareId": null,
            "shared": false,
            "isRoot": false
        }
   ]
}
</pre>
        </div>
        
        <div class="doc-group-item">
            <h3 id="files_find">2 - Find items by name</h3>
            <pre>https://localhost:8444/api/files/searchByTerms/:terms</pre>
            <ul>
                <li>Method : GET</li>
                <li>Authentication : Required</li>
                <li>Required url parameters :
                    <ul>
                        <li>:terms : The id of the folder to get the content of.</li>
                    </ul>
                </li>
            </ul>
            <p>Typical response :</p>
<pre>
{
    "count": 2
    "terms": "image"
    "items":[
        {
            "_id": {
                "$oid": "531b978d7b93df8cd20b710d"
            },
            "name": "myImages",
            "type": "folder",
            "userId": 53,
            "systemPath": "/path/to/the/folder/myImages",
            "version": 0,
            "oldVersions": [],
            "date": {
                "$date": 1394314672822
            },
            "items": [
                {
                   "$oid": "531b98a67b93df8cd20b710e"
                }
            ],
            "parents": [
                {
                   "$oid": "531b97497b93df8cd20b7108"
                },
                {
                   "$oid": "531b8db0ab1684b5b167f362"
                }
             ],
            "shareId": null,
            "shared": false,
            "isRoot": false
        },
        {
            "_id": {
                "$oid": "531b98a67b93df8cd20b710e"
            },
            "name": "image.png",
            "type": "file",
            "userId": 53,
            "systemPath": "/path/to/the/folder/image.png",
            "version": 0,
            "oldVersions": [],
            "date": {
                "$date": 1394314672822
            },
            "items": [],
            "parents": [
                {
                   "$oid": "531b978d7b93df8cd20b710d"
                },
                {
                   "$oid": "531b97497b93df8cd20b7108"
                },
                {
                   "$oid": "531b8db0ab1684b5b167f362"
                }
            ],
            "shareId": null,
            "shared": false,
            "isRoot": false
        }
   ]
}
</pre>
        </div>

    </div>

</div><!--/row-->
{% endblock %}
