

div#headbar input, div#headbar div#path {
	height: 60px; /* 50px inside */
	margin: 0px;
	padding: 10px;
	border: 8px solid #fcb735;
	font-family: Helvetica;
	font-size: 20px;
	font-weight: lighter;
	display: block;
	float: left;
}

div#headbar input:focus{
	outline: none; /* fu chrome */
}

div#headbar div#path {
	width: 70%;
	padding-left: 50px; /* 40(ico) + 10px */
	border-right: 0px;
	/* can't do sprite :/ */
	background: url('/images/icons/tree.png') no-repeat left center #ffcc6d;
}

div#headbar div#path p {
	overflow: scroll;
	white-space: nowrap;
}

div#headbar div#path p a {
	cursor: pointer;
}

div#headbar input#search {
	width: 30%;
	padding-right: 50px; /* 40(ico) + 10px */
	/* can't do sprite :/ */
	background: url('/images/icons/search.png') no-repeat right center #ffcc6d;
}

div#headbar input#search.fullsize {
	width: 100%;
}

/*** Action bar ***/

div#actionbar ul {
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
	float: right;
}

div#actionbar ul li{
	font-size: 23px;
	font-weight: lighter;
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
}

div#actionbar ul li.action {
	/* Cross browser solution from w3c for list-style-image */
	background-repeat: no-repeat;
	background-position: 7px;
	padding: 10px 10px 10px 50px;
}

div#actionbar ul li.action:hover {
	background-color: aliceblue;
}

div#actionbar ul li.uploadfile {
	/*TODO let's do a sprite !*/
	background-image: url('/images/icons/upload-file.png');
}

div#actionbar ul li.sharefolder {
	/*TODO: let's do a sprite !*/
	background-image: url('/images/icons/share-folder.png');
}

div#actionbar ul li.addfolder {
	/*TODO let's do a sprite !*/
	background-image: url('/images/icons/add-folder.png');
}


/*** File browser ***/
div#filebrowser table {
	width: 100%;
}

div#filebrowser table thead {
	border-bottom: 1px solid #3eaafe;
}

div#filebrowser table tr {
	height: 40px;
	cursor: pointer;
}

div#filebrowser table tbody tr:hover,
div#filebrowser table tbody tr:focus,
div#filebrowser table tbody tr.selected {
	background-color: rgba(62, 170, 255, 0.2);
}

div#filebrowser table tbody tr.parent-folder-row {
	border-bottom: 1px solid #3eaafe;
}

div#filebrowser table tbody tr td.options-col {
	text-align: center;
}

div#filebrowser table tbody tr td.options-col button {
	background-color: #fcb735;
}

div#filebrowser table tbody tr td.options-col button:hover {
	background-color: #3daaf8;
}

div#filebrowser table tbody tr td:nth-child(1) {
	width: 40px;
}

div#filebrowser table tbody tr td:nth-child(2) {
 /* No hardcoded size for the name of the file/folder
  so it will be as large as possible */
  padding-left: 10px;
}


div#filebrowser table tbody tr td:nth-child(3) {
	width: 23%;
}


div#filebrowser table tbody tr td:nth-child(4) {
	width: 23%;
}

div#filebrowser table tr td.folder {
	background: url('/images/filebrowser.png') 0px -40px no-repeat;
}

div#filebrowser table tr td.file {
	background: url('/images/filebrowser.png') -80px -40px no-repeat;
}

div#filebrowser table tr td.parent-folder {
	background: url('/images/filebrowser.png') -120px -40px no-repeat;
}


div#filebrowser table tr td.shared-folder {
	background: url('/images/filebrowser.png') -40px -40px no-repeat;
}

/*** buttons ***/
.optionButton {
	color: #3eaafc;
}

.removeButton {
}

/*** modals ***/
.modal-header {
	text-align: center;
	background-color: #3eaafe;
}

.modal-header .name {
	color: #fcb735;
}

.modal-footer {
	text-align: center;
	background-color: #fcb735;
}

/*** class utils ***/
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #3eaafe;
    display: inline-block;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 9px solid #3eaafe;
    display: inline-block;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #3eaafe;
    display: inline-block;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right:9px solid #3eaafe;
    display: inline-block;
}

.ng-invalid {
	background-color: #ff7c74 !important;
}

.linkStyle {
	cursor: pointer;
	color: #3eaafe;
}

.linkStyle:hover {
	color: #2d7cb9;
}

.blackColor {
	color: black;
}