{% extends 'layouts/layout.html' %}
{% block css %}

{% endblock %}
{% block body %}
<div class="page-header">
    <h1 id="pricingtitle">{{__("Administration")}}</h1>
</div>
<div class="row">
    {% for plan in plans %}
    <div class="col-md-3">
        <form action="/administration/updatePlan/{{plan.id}}" method="post">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ plan.name }}">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="pricePerMonth">Price</label>
                        <input type="text" class="form-control" id="pricePerMonth" name="pricePerMonth" value="{{ plan.pricePerMonth }}">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="diskSpace">Disk space</label>
                        <input type="text" class="form-control" id="diskSpace" name="diskSpace" value="{{ plan.diskSpace }}">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="bandwidthPerDay">Bandwidth per day</label>
                        <input type="text" class="form-control" id="bandwidthPerDay" name="bandwidthPerDay" value="{{ plan.bandwidthPerDay }}">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="bandwidthSpeed">Bandwidth speed limit</label>
                        <input type="text" class="form-control" id="bandwidthSpeed" name="bandwidthSpeed" value="{{ plan.bandwidthSpeed }}">
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label for="description">Description</label>

                        <textarea rows="15" class="form-control" id="description" name="description">{{ plan.description }}</textarea>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <label>Status</label>
                        <div class="radio">
                            <label>
                                {% if plan.available == 1 %}
                                <input type="radio" name="available" id="available1" value="true" checked>
                                {% else %}
                                <input type="radio" name="available" id="available1" value="true">
                                {% endif %}
                                Available
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                {% if plan.available == 1 %}
                                <input type="radio" name="available" id="available2" value="false">
                                {% else %}
                                <input type="radio" name="available" id="available2" value="false" checked>
                                {% endif %}
                                Unavailable
                            </label>
                        </div>
                    </div>

                </li>
                <li class="list-group-item">
                    <button type="submit" class="btn btn-success btn-block">Update plan</button>
                </li>
            </ul>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}