{% extends 'layouts/minilayout.html' %}

{% block css %}
    <link href="/stylesheets/myfiles.css" rel="stylesheet">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="/javascripts/browser/libs/angular.js"></script>
    <script type="text/javascript" src="/javascripts/browser/libs/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/browser/libs/ui-bootstrap-custom-0.10.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/browser/libs/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/browser/app.js"></script>
    <script type="text/javascript" src="/javascripts/browser/controllers/FileTableController.js"></script>
    <script type="text/javascript" src="/javascripts/browser/controllers/SearchController.js"></script>
    <script type="text/javascript" src="/javascripts/browser/filters/TextFilters.js"></script>
    <script type="text/javascript" src="/javascripts/browser/directives/SelectOnClick.js"></script>
{% endblock %}

{% block body %}
    <div ng-view></div>
{% endblock %}