{% extends 'layouts/layout.html' %}

{% block body %}
	<div id="topindex">
    	<div class="register-login">
    		<a class="button large inline" href="/loginsignup">REGISTER - LOGIN</a>
    	</div>
	</div>
	<div class="index-section">
		<img class="pull-left" src="http://placehold.it/280x250" alt="">
		<div class="pull-right">
			<h1>Justo Vehicula Tortor Fermentum Ligula</h1>
			<p>
				Vivamus sagittis lacus vel augue laoreet 
				rutrum faucibus dolor auctor. Duis mollis, 
				est non commodo luctus, nisi erat porttitor 
				ligula, eget lacinia odio sem nec elit. Vivamus 
				sagittis lacus vel augue laoreet rutrum 
				faucibus dolor auctor. Vivamus sagittis lacus 
				vel augue laoreet rutrum faucibus dolor 
				auctor. Vestibulum id ligula porta felis 
				euismod semper.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="index-section">
		<img class="pull-right" src="http://placehold.it/280x250" alt="">
		<div class="pull-left">
			<h1>Justo Vehicula Tortor Fermentum Ligula</h1>
			<p>
				Vivamus sagittis lacus vel augue laoreet 
				rutrum faucibus dolor auctor. Duis mollis, 
				est non commodo luctus, nisi erat porttitor 
				ligula, eget lacinia odio sem nec elit. Vivamus 
				sagittis lacus vel augue laoreet rutrum 
				faucibus dolor auctor. Vivamus sagittis lacus 
				vel augue laoreet rutrum faucibus dolor 
				auctor. Vestibulum id ligula porta felis 
				euismod semper.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="index-section">
		<img class="pull-left" src="http://placehold.it/280x250" alt="">
		<div class="pull-right">
			<h1>Justo Vehicula Tortor Fermentum Ligula</h1>
			<p>
				Vivamus sagittis lacus vel augue laoreet 
				rutrum faucibus dolor auctor. Duis mollis, 
				est non commodo luctus, nisi erat porttitor 
				ligula, eget lacinia odio sem nec elit. Vivamus 
				sagittis lacus vel augue laoreet rutrum 
				faucibus dolor auctor. Vivamus sagittis lacus 
				vel augue laoreet rutrum faucibus dolor 
				auctor. Vestibulum id ligula porta felis 
				euismod semper.
			</p>
		</div>
		<div class="clearfix"></div>
	</div>
{% endblock %}