{% extends 'layouts/layout.html' %}
{% block css %}
	<link href="/stylesheets/pricing.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="page-header">
    <h1 id="pricingtitle">{{__("We have many plans for you, <br />pick one of them !")}}</h1>
</div>
<div id="allplans">
    {% for plan in plans %}
        <div id="p{{ plan.planNumber }}">
            {% if plan.planNumber%2 == 0 %}
                <div class="deep">
            {% endif %}
            <div class="titleplan">
                {% if loop.first %}
                    <p>{{ __(plan.name) }}</p>
                {% else %}
                    <a href="/account/plan?plan={{ plan.id }}">{{ __(plan.name) }}</a>
                {% endif %}
            </div>
            <div class="priceplan">
                <p>{{ plan.pricePerMonth }}$</p>
                <p class="perMonth">{{__("Per month")}}</p>
            </div>
            <div class="descplan">
                <p>{{ __(plan.bandwidthPerDay) }}</p>
                <p>{{ __(plan.diskSpace) }}</p>
                <p>{{ __(plan.logsHistory) }}</p>
                <p>{{ __(plan.support) }}</p>
            </div>
            <div class="getplan">
                {% if loop.first %}
                <p>{{__("Default Plan")}}</p>
                {% else %}
                    <a href="/account/plan?plan={{ plan.id }}">{{__("Get this")}}</a>
                {% endif %}
            </div>
            {% if plan.planNumber%2 == 0 %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
	</div>
</div>
<div id="contentplan">
    <h1 id="questionpricing">{{__("Which plan should I use ?")}}</h1><br/>
    <p>
        {{__("The free plan is perfect if you want to try our solution or synchronize some small files over two or three devices")}}
    </p>
    <img class="lbrand-logo" src="/images/logo.png" alt="Logo Cubbyhole" />
    <p>
        {{__("The basic plan will help you to synchronize all your important files over all your devices and share them with some of your friends")}}
    </p>
    <img class="lbrand-logo" src="/images/logo.png" alt="Logo Cubbyhole" />
    <p>
        {{__("With the premium plan, you can share your awesome pictures with your family or save your backups online")}}
    </p>
    <img class="lbrand-logo" src="/images/logo.png" alt="Logo Cubbyhole" />
    <p>
        {{__("The enterprise plan is perfect for your company, with the unlimited storage and bandwidth, you can work without any problems on our system ! In case of errors, you can contact us or find the problem using the history logs !")}}
    </p>
    <hr/>
    <small>{{__("* A month = 30 days")}}</small>
</div>

</div>
{% endblock %}