<div class="mainBrowserDiv" ng-controller="FileTableController">

    <div id="headbar">
        <div id="path" type="text">
            <p>
                            <span ng-repeat="part in parentFolders">
                                <a ng-click="handleItemClick('folder', part._id)">[[part.name]]</a> /
                            </span>
                <span>[[folderName]]</span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="actionbar">
        <ul>
            <li ng-click="upload()" class="action uploadfile">Upload file</li>
            <li ng-click="addFolder()" class="action addfolder">Add folder</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="filebrowser">
        <table>
            <thead>
            <tr>
                <th colspan="2" ng-click="sort('name')">Name
                    <div ng-if="orderProp=='name'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('type')">Type
                    <div ng-if="orderProp=='type'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('date')">Modified
                    <div ng-if="orderProp=='date'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-folder-row" ng-show="hasParent()" ng-click="handleItemClick('folder', parentFolder()._id)">
                <td class="parent-folder"></td>
                <td>Parent Folder</td>
                <td>Folder</td>
                <td>[[parentFolder().date | date:"medium"]]</td>
                <td class="options-col">-</td>
            </tr>
            <tr ng-repeat="item in items | orderBy:orderProp:orderDirection">
                <td class="[[item.type]]"></td>
                <td ng-switch on="item.type"  ng-click="handleItemClick(item.type, item._id)">
                    [[item.name]]
                </td>

                <td>[[item.type | Capitalize]]</td>
                <td>[[item.date | date:"medium"]]</td>
                <td class="options-col">
                    <div class="btn-group">
                        <button ng-click="remove(item)" type="button" tooltip-placement="left" tooltip="Remove" class="btn btn-default optionButton removeButton">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button ng-click="edit(item)" type="button" tooltip-placement="top" tooltip="Edit" class="btn btn-default optionButton editButton">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-click="share(item)" type="button" tooltip-placement="right" tooltip="Share" class="btn btn-default optionButton shareButton">
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>