<script type="text/javascript">
    $("body").on('dragenter', function (e) {
        e.stopPropagation();
        e.preventDefault();
        $("#dropCapture").show();
    });

    var hideCapture = function (e) {
        /*e.stopPropagation();
        e.preventDefault();*/
        $("#dropCapture").hide();
    };

    $("#dropCapture").on('dragleave', hideCapture);
    $("#dropCapture").on('drop', hideCapture);

    //$("#dropCapture").on('mouseenter', hideCapture);

    /*$("#iconDrop, #textDrop, #icondrop > span, #textDrop > p").on('dragleave', function (e) {
        e.stopPropagation();
        e.preventDefault();
    });*/
</script>

<flash-message></flash-message>
<div id="dropCapture" ng-file-drop="onFileSelect($files)">
    <div id="iconDrop" ng-file-drop="onFileSelect($files)">
        <span class="glyphicon glyphicon-upload" ng-file-drop="onFileSelect($files)"></span>
    </div>
    <div id="textDrop" ng-file-drop="onFileSelect($files)">
        <p ng-file-drop="onFileSelect($files)">Drop files here to upload them !</p>
    </div>
</div>

<div class="mainBrowserDiv">

    <div id="headbar">
        <div id="path" type="text">
            <p>
                            <span ng-repeat="part in parentFolders">
                                <a ng-click="handleItemClick('folder', part._id)">[[part.name]]</a> /
                            </span>
                <span>[[folderName]]</span>
            </p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="actionbar">
        <ul>
            <li class="uploadSelector">
                <input type="file" id="fileInputBrowser" style="margin-top: 5px" class="pull-left" ng-file-select="onFileInputUsed($files)" multiple/>
                <button ng-if="tempFiles.length == 0" type="button" class="btn pull-left btn-primary" disabled>Upload files</button>
                <button ng-if="tempFiles.length > 0" type="button" class="btn pull-left btn-primary" ng-click="onFileInputSubmit()">Upload [[tempFiles.length]] files</button>
            </li>
            <li ng-click="addFolder()" class="action addfolder">Add folder</li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div id="filebrowser" style="position: relative;">
        <table>
            <thead>
            <tr>
                <th colspan="2" ng-click="sort('name')">Name
                    <div ng-if="orderProp=='name'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('type')">Type
                    <div ng-if="orderProp=='type'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('updateDate')">Modified
                    <div ng-if="orderProp=='updateDate'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody ng-hide="appLoading">
            <tr class="parent-folder-row" ng-show="hasParent()" ng-click="handleItemClick('folder', parentFolder()._id)">
                <td class="parent-folder"></td>
                <td>Parent Folder</td>
                <td>Folder</td>
                <td>[[parentFolder().date | date:"medium"]]</td>
                <td class="options-col">-</td>
            </tr>
            <tr ng-repeat="item in items | orderBy:orderProp:orderDirection" ng-class="{false: '', true: 'busyWriteFile' }[item.busyWrite]">

                <td ng-class="getItemClass(item)"></td>


                <td ng-if="item.type == 'folder'" ng-click="handleItemClick(item.type, item._id)">
                    [[item.name]]
                </td>


                <td ng-if="item.type == 'file'" >
                    <!--<a ng-if="!item.busyWrite" ng-click="handleItemClick(item.type, item._id)" ng-href="/ajax/download/[[item._id]]">[[item.name]]</a>-->
                    <a ng-if="!item.busyWrite" ng-click="handleItemClick(item.type, item._id)">[[item.name]]</a>
                    <span ng-if="item.busyWrite">[[item.name]]</span>
                </td>


                <td>[[item.type | Capitalize]]</td>


                <td>[[item.updateDate | date:"short"]]</td>


                <td class="options-col">
                    <div class="btn-group" ng-if="!item.busyWrite">
                        <button ng-if="item.sharedCode == 2 || item.sharedCode == 0" ng-click="remove(item)" type="button" tooltip-placement="left" tooltip="Remove" class="btn btn-default optionButton removeButton">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>

                        <button ng-if="item.type == 'file' && (item.sharedCode == 2 || item.sharedCode == 4 || item.sharedCode == 0)" ng-click="edit(item)" type="button" tooltip-placement="top" tooltip="Edit" class="btn btn-default optionButton editButton">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button ng-if="item.type == 'folder' && (item.sharedCode == 2 || item.sharedCode == 0)" ng-click="edit(item)" type="button" tooltip-placement="top" tooltip="Edit" class="btn btn-default optionButton editButton">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>

                        <button ng-if="item.sharedCode == 2 || item.sharedCode == 0" ng-click="moveItem(item)" type="button" tooltip-placement="top" tooltip="Move" class="btn btn-default optionButton moveButton">
                            <span class="glyphicon glyphicon-transfer"></span>
                        </button>
                        <button ng-click="copyItem(item)" type="button" tooltip-placement="top" tooltip="Copy" class="btn btn-default optionButton copyButton">
                            <span class="glyphicon glyphicon glyphicon-hdd"></span>
                        </button>
                        <button ng-if="item.sharedCode == 0" ng-click="share(item)" type="button" tooltip-placement="right" tooltip="Share" class="btn btn-default optionButton shareButton">
                            <span class="glyphicon glyphicon-link"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>


        <div id="loader" ng-show="appLoading">
            <div id="textLoader">
                <img src="/images/ajax-loader.gif" />
                loading ...
            </div>
        </div>
    </div>
</div>

<div class="uploadManager">
    <div class="um_inner">
        <div class="um_header" ng-click="uploadManagerShown = !uploadManagerShown">
            <span class="glyphicon glyphicon-upload"></span>
            Uploads
            <span>([[uploads.length]])</span>
            <span style="float: right; margin-top: 12px; margin-right: 12px;" ng-class="{false: 'glyphicon glyphicon-plus', true: 'glyphicon glyphicon-minus' }[uploadManagerShown]" ></span>
        </div>
        <div class="um_content" ng-class="{um_small: !uploadManagerShown}">
            <div ng-repeat="fileItem in uploads" class="um_upload">
                <div ng-if="!fileItem.options.existing" class="um_options">
                    <progressbar class="progress-striped active" animate="false" value="fileItem.options.progress" type="success"><b>[[fileItem.options.progress]]% - [[fileItem.file.name]]</b></progressbar>
                </div>
                <div ng-if="fileItem.options.existing" class="um_update">
                    <div class="um_update_text">File [[fileItem.file.name]] already exists</div>
                    <div class="um_update_buttons">
                        <button type="button" ng-click="updateFile($index)" class="btn btn-warning">Overwrite</button>
                        <button type="button" ng-click="cancelUpload($index)" class="btn btn-danger">Cancel</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>