<div ng-controller="FileTableController">
    <div id="headbar">
        <div id="path" type="text">
            <p>
                            <span ng-repeat="part in parentFolders">
                                <a ng-click="handleItemClick('folder', part.folderId)">[[part.folderName]]</a> /
                            </span>
                <span>[[folderName]]</span>
            </p>
        </div>
        <input ng-minlength=3 id="search" type="text" placeholder="Search ..." ng-model="searchInput" select-on-click />
        <div class="clearfix"></div>
    </div>
    <div id="actionbar">
        <ul>
            <li class="action uploadfile">Upload file</li>
            <li class="action sharefolder">Share folder</li>
            <li class="action addfolder">Add folder</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="filebrowser">
        <table>
            <thead>
            <tr>
                <th colspan="2" ng-click="sort('name')">Name
                    <div ng-if="orderProp=='name'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('type')">Type
                    <div ng-if="orderProp=='type'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th ng-click="sort('date')">Modified
                    <div ng-if="orderProp=='modified'" ng-class="{true:'arrow-down', false:'arrow-up'}[orderDirection]"></div>
                </th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <tr class="parent-folder-row" ng-show="hasParent()" ng-click="handleItemClick('folder', parentFolder().folderId)">
                [[parentFolder().id]]
                <td class="parent-folder"></td>
                <td>Parent Folder</td>
                <td>Folder</td>
                <td>24/11/2013 11:30 PM</td>
                <td class="options-col">-</td>
            </tr>
            <tr ng-repeat="item in items | orderBy:orderProp:orderDirection" ng-click="handleItemClick(item.type, item.id)">
                <td class="[[item.type]]"></td>
                <td ng-switch on="item.type">
                    [[item.name]]
                </td>

                <td>[[item.type | Capitalize]]</td>
                <td>24/11/2013 11:30 PM</td>
                <td class="options-col">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>